# Detect which 'ls' flavor is in use
if ls --color > /dev/null 2>&1; then # GNU ls
        colorflag="--color"
else # OS X ls
        colorflag="-G"
fi

alias ls="ls ${colorflag}"
alias la="ls ${colorflag} -a"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Fix common typos
alias cd..="cd .."
alias mann="man"

# Fix Windows related typos
alias ipconfig="ifconfig"
alias dir="ls"

# Shortcuts
alias commit="git commit -ma"
alias ifen0="ifconfig en0"
alias ifen1="ifconfig en1"
