# Detect which 'ls' flavor is in use
if ls --color > /dev/null 2>&1; then # GNU ls
        colorflag="--color"
else # OS X ls
        colorflag="-G"
fi

alias ls="ls ${colorflag}"
alias la="ls -a"
alias ll="ls -l"
alias lll="ls -l -a"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Fix common typos
alias cd..="cd .."
alias mann="man"
alias l="ls"
alias s="ls"
alias sl="ls" # Replaces sl (Steam Locomovtive) with proper ls; installed using brew install sl

# Fix Windows related typos
alias ipconfig="ifconfig"
alias dir="ls"
alias del="rm -i"
alias cls="clear"

# Navigation Shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Shortcuts
alias commit="git commit -a -m"
alias ifen0="ifconfig en0"
alias ifen1="ifconfig en1"
alias bash_history="cut -f1 -d\" \" .bash_history | sort | uniq -c | sort -nr | head -n 10"

alias timestamp="date +%s"
alias timenow="date +%T"
alias datenow="date +\"%Y-%m-%d\""

alias cpprogress="rsync --progress -ravz"

alias usage="du -ch | grep total" # Disk usage in the current directory

# alias most='du -hsx * | sort -rh | head -10' # List what is using most space
# May need GNU sort - does not work on stock OS X
